/* Universal Stylings */

html {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
  background-color: antiquewhite;
}

body {
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

div {
  border: 1px solid red;
}

.container {
  max-width: 960px;
  margin: auto;
  display: flex;
}

footer {
  border-top: 1px solid gray;
  justify-content: space-between;
  font-size: 0.75rem;
  color: dimgray;
}
